<p class="bg-info">{{log}}</p>
<div class="container">
	<button type="button" class="btn btn-primary btn-xs"
		(click)="onClick()">Nouveau collaborateur</button>
	<hr>
	<div *ngIf="!isNewRessource">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<!--th>Id</th-->
					<th>Prenom</th>
					<th>Nom</th>
					<th>E-mail</th>
					<th>role</th>
				</tr>
			<thead>
			<tfoot>
			</tfoot>
			<tbody>
				<tr *ngFor="#ressource of ressources"
					(click)="onSelectRessource(ressource)">
					<!--td>{{client.id}}</td-->
					<td>{{ressource.prenom}}</td>
					<td>{{ressource.nom}}</td>
					<td>{{ressource.mail}}</td>
					<td>{{ressource.role}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf="isNewRessource">
		<ressource-form [ressource]="ressource"
			(editRessource)="onSaved($event)" (cancel)="onCancel($event)">
		</ressource-form>
	</div>
</div>