<menu-app></menu-app>
<p class="bg-info">{{log}}</p>
<div class="container">
	<div *ngIf="!editable" >
		<button (click)="onBack()" type="button" class="btn btn-default btn-xs">
		  <span class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour
		</button>
		<hr>
		<div class="col-md-12">Id: {{client.id}}</div>
		<div class="col-md-12">Nom du client: {{client.nom}}</div>
		<div><button class="btn btn-primary btn-xs" (click)="onEdit()">Modifier</button></div>
	</div>
	
				<form *ngIf="editable"  (ngSubmit)="onEditClient(client)" #clientForm="ngForm" >
					<div class="form-group">
					    <input required [(ngModel)]="client.nom" type="text" class="form-control" placeholder="Nom du client">
				  	</div>
				  	
				  	<button class="btn btn-xs" (click)="onCancel()">Annuler</button>
				  	<button type="submit" class="btn btn-primary btn-xs">Valider</button>
				</form>
</div>