<div class="container">
	<p>PWA</p>
	<table class="table table-condensed ">
		<thead>
					<tr>
						<th >Projet</th>
						<th >Tache</th>
						<th >Lun 25</th>
						<th >Mar 26</th>
						<th >Mer 27</th>
						<th >Jeu 28</th>
						<th >Ven 29</th>
						</tr>
					<thead>
					<tfoot>
					</tfoot>
					<tbody>
						<tr >
							<td >P1</td>
						</tr>
							<tr >
								<td ></td>
								<td >T1</td>
								<td ><input ></td>
								<td ><input ></td>
								<td ><input ></td>
								<td ><input ></td>
								<td ><input ></td>
							</tr>
						<tr >
							<td ></td>
							<td >T2</td>
							<td ><input ></td>
							<td ><input ></td>
							<td ><input ></td>
							<td ><input ></td>
							<td ><input ></td>
						</tr>
					
						</tbody>
	</table>
	<button class="btn btn-default" (click)="onValider()">Valider</button>
</div>
