<div class="container">

	<div class="row pull-right">
		<div style="width: 150px;margin-right:50px">
			<button (click)="onPrecedente()" type="button" class="btn btn-default btn-xs">
			  <span class="glyphicon glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			</button>
			<button (click)="onToday()" type="button" class="btn btn-default btn-xs">Cette semaine</button>
			<button (click)="onSuivante()" type="button" class="btn btn-default btn-xs">
			  <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-condensed ">
				<thead>
				<tr>
						<th>Projet</th>
						<th>Tache</th>
						<th style="width: 30px">{{lundi | date }}</th>
						<th style="width: 30px">{{mardi | date }}</th>
						<th style="width: 30px">{{mercredi | date }}</th>
						<th style="width: 30px">{{jeudi | date }}</th>
						<th style="width: 30px">{{vendredi | date }}</th>
					</tr>
				<thead>
				<tfoot>
				</tfoot>
				<tbody *ngFor="#pwa of pwas">
					<tr>
						<td rowspan="3">{{pwa.nom}}</td>
					</tr>
					<tr *ngFor="#tache of pwa.taches">

						<td>{{tache.nom}}</td>
						<td *ngFor="#activite of tache.activites"><input
							style="width: 30px" [(ngModel)]="activite.temps"></td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary btn-xs" (click)="onValider()">Valider</button>
		</div>
	</div>
</div>
	<p>{{log}}</p>
		<!--p>{{pwas | json}}</p-->