{{diagnostic}}
<div class="container">
    <h1>Connexion</h1>
    TODO: remove this : data: {{data}}
    
	<form id="form_connexion" (ngSubmit)="onSubmit(user)" #userForm="ngForm">
		<div class="form-group">
			<input type="email" class="form-control" placeholder="e-mail" required [(ngModel)]="user.mail" >
			TODO: remove this: {{user.mail}}
		</div>
		<div class="form-group">
			<input type="password" class="form-control" placeholder="mot de passe" required [(ngModel)]="user.pwd" >
			TODO: remove this: {{user.pwd}}
		</div>
		<button type="submit" class="btn btn-default" >Connexion</button>
	</form>
	
</div>
