<p class="bg-info">{{log}}</p>
<div class="container">

			<form (ngSubmit)="onCreationProjet(projet)" #projetForm="ngForm" >
					<div class="form-group">
					    <input required [(ngModel)]="projet.nom" type="text" class="form-control" placeholder="Nom du projet">
				  	</div>
				  	<div class="form-group">
					    <select class="form-control">
						  <option  *ngFor="#client of clients">{{client.nom}}</option>
						</select>
				  	</div>
				  	<p>Taches</p>
				  	<table class="table table-condensed">
				  		<thead>
				  			<tr>
				  				<th>Tache</th>
				  				<th>Charge</th>
				  				<th></th>
				  			</tr>
				  		</thead>
				  		<tfoot></tfoot>
				  		<tbody>
				  			<tr*ngFor="#tache of projet.taches">
				  				<td><input required [(ngModel)]="tache.nom" type="text" class="form-control"></td>
				  				<td><input required [(ngModel)]="tache.charge" type="text" class="form-control"></td>
				  				<td><button type="button" class="close pull-left" aria-label="Close" (click)="onRemoveTache(tache)"><span aria-hidden="true">&times;</span></button></td>
				  			</tr>
				  		</tbody>
				  	</table>
				  	<!--div class="row" *ngFor="#tache of projet.taches">
						<div class="form-group col-md-11" >
							<input required [(ngModel)]="tache.nom" type="text" class="form-control" placeholder="Nom de l'activité">
						</div>
						<div class="col-md-1">
							<button type="button" class="close pull-left" aria-label="Close" (click)="onRemoveTache(tache)"><span aria-hidden="true">&times;</span></button>
						</div>
					</div-->
				  	<button type="button" class="btn btn-link" (click)="onAddTache()">Ajouter tache</button>
				  	<button type="submit" class="btn btn-primary btn-xs">Créer</button>
				</form>
</div>